---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate, updatedDate, heroImage, tags } =
    Astro.props;
---

<Layout title={title} description={description}>
    <article>
        <div class="">
            {
                heroImage && (
                    <img width={1020} height={510} src={heroImage} alt="" />
                )
            }
        </div>
        <div>
            <div>
                <div>
                    <FormattedDate date={publishDate} />
                    {
                        updatedDate && (
                            <div>
                                Last updated on{" "}
                                <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <h1>{title}</h1>
                <div>
                    {
                        tags && (
                            <ul class="flex flex-wrap gap-2 text-bgColor">
                                {tags.map((tag) => (
                                    <li>
                                        <a
                                            class="flex items-center justify-center rounded-lg bg-accent p-1"
                                            href={`/tags/${tag}/`}
                                            aria-label={`View all posts with the tag: ${tag}`}
                                        >
                                            {tag}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        )
                    }
                </div>
                <div>
                    {description}
                </div>
                <hr />
            </div>
            <slot />
        </div>
    </article>
</Layout>
